.navlink {
    cursor: pointer;
    transition: border-bottom 0.2s;
    border-bottom: 1px solid rgba(var(--accent-rgb), 0);
}

.navlink:hover {
    border-bottom: 1px solid rgba(var(--accent-rgb), 1);
}

.navlink-label {
    color: var(--fg);
    text-decoration: none;
    font-size: 15px;
}
