.topbar-body {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    background-image: linear-gradient(var(--bg-dark), var(--bg));
    padding: 20px;
}

h1 {
    width: fit-content;
    color: var(--fg);
    border-bottom: 1px var(--accent-light) solid;
}
