.tagline {
    color: var(--fg);
}

.tagline.small {
    width: fit-content;
    font-size: 10px;
}

.tagline.normal {
    width: fit-content;
    font-size: 20px;
}

.tagline.large {
    width: fit-content;
    font-size: 40px;
}

.tagline-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tagline-heading {
    font-size: 250%;
    border-bottom: 1px var(--accent) solid;
}

.tagline-char {
    color: var(--fg-dark);
    font-size: 75%;
}
