.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--background--bg);
}

h1 {
    font-size: 10rem;
    color: var(--foreground--fg);
    border-bottom: 1px var(--accent--accent) solid;
}

h2 {
    font-weight: 25;
    color: var(--foreground--fg-dark);
    padding-top: 15px;
}